# Raspberry Pi + VL53L3CX (install after: sudo apt install build-essential python3-dev git)
-r requirements.txt
VL53L3CX @ git+https://github.com/FrgyCZ/VL53L3CX-python.git@fef55ca10caaa8f97be4f12c03c9e09fdca0b386
